body {
  font-family: 'JetBrains Mono', monospace;
  background: #2C2B3D;
}

nav, main, ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin:101px 89px 157px 99px ;
}
nav {
  margin: 71px 89px 101px 99px;
}


picture {
  margin-top: 101px ;
  margin-left: 99px;
}


ul {
  list-style: none;
  flex-direction: row;
  gap: 64px;
}

ul li a, h1, p{
  text-decoration: none;    
  text-align: center;  
  color: #FFFFFF;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.line {
  width:  568px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: 157px 356px 23px;
}

.line p {
  font-family: 'JetBrains Mono', monospace;
}

span, .line {
  color:#00BFA6;
  font-weight: bold;
}

footer img{
  position: fixed;
  bottom: 0;
  left: 0;
}



